@page
@model WiseHousingHub.Pages.HelpModel
@{
	ViewData["Title"] = "Help";
}

<h1>Frequently Asked Questions (FAQ)</h1>
<hr />

<h4>How do I create an account?</h4>
<p style="margin-bottom: 20px;">
	First, click on "Register" on the black navigation bar at the top of the website. Now, click on each text box and add your information and click the Register button. 
	If you aren't able to register, refer to the error messages that pop up on the screen and edit your information. Note: Passwords have a minimum required length of 8 characters, must contain at least one uppercase letter, must contain at least one lowercase number, must contain at least one digit, and must contain at least one non alphanumeric character (symbol). 
	Once you meet all the requirements to register and click the Register button, you will automatically be logged into your account and see "Hello &lt;your_email&gt;!"
</p>

<h4>How do I log in?</h4>
<p style="margin-bottom: 20px;">
	In order to log in, you must first have created an account. If you haven't already made an account, refer to the above information on how to create one. 
	If you have created an account, click on "Login" on the black navigation bar at the top of the website. Now, enter your email and password in the text boxes and click the Log in button. 
	If you log in successfully, you should see "Hello &lt;your_email&gt;!" on the navigation bar. If you see "Invalid login attempt", confirm that you are typing in the correct email and password and try again.
	If you forgot your password, you can click the "Forgot your password?" link. More information about resetting your password is available below.
</p>

<h4>How do I log out?</h4>
<p style="margin-bottom: 20px;">
	If you are logged in, you will see "Hello &lt;your_email&gt;!" on the navigation bar, as well as additional options for Add Property and Landlord Dashboard. 
	To the top right is the Logout tab. Click it and you will be logged out.
</p>

<h4>How do I add a property?</h4>
<p style="margin-bottom: 20px;">
	In order to add a property, you must first be logged in. If you're having trouble logging in, refer to the above information on how to log in. 
	Once you're logged in, click on "Add Property" on the black navigation bar at the top of the website. Now, click on each text box and add your property information. 
	Note: The description can only have a maximum of 1000 characters. At the bottom, click "Choose file" to choose a picture for the property. 
	Note: The higher the pixel count of the picture, the better. Once you are satisfied with the information, click "Create". If you aren't able to create it, refer to the error messages for guidance and try again. 
	You will know you were successful if you are taken back to the home page. From here, click on "Landlord Dashboard" on the black navigation bar at the top of the website. 
	You should see that your property is now listed. However, it may not yet show on the home page. Upon creation, it is sent to our admin team to manually verify. 
	Note: This process isn't instantaneous, so allow 1-3 business days for the property to be verified. You can check the status of verification from the Landlord Dashboard. 
	If it hasn't been verified within that time frame, please email us at admin@wisehousinghub.com.
</p>

<h4>How do I edit a property?</h4>
<p style="margin-bottom: 20px;">
	In order to edit a property, you must first be logged in and have created a property. If you're having trouble with these, refer to the above information on how to log in and add a property. 
	Once you're logged in and have a property added, click on "Landlord Dashboard" on the black navigation bar at the top of the website. Now, use the horizontal scroll bar to scroll until over to the Edit button for the property you want to edit. 
	Click on this button. Now you will see text boxes with your property information filled in. Edit the information you need to and upload a picture for the property. Now, click the Update button. 
	You will know you were successful if you are taken back to the home page. From here, click on "Landlord Dashboard" on the black navigation bar at the top of the website. 
	You should see that the information you changed is now reflected. However, note that your property will now show up as Unverified and won't show up on the home page until it is reverified by our admin team. 
	This is true even if your property was previously verified. Note: This process isn't instantaneous, so allow 1-3 business days for the property to be verified. 
	You can check the status of verification from the Landlord Dashboard. If it hasn't been verified within that time frame, please email us at admin@wisehousinghub.com.
</p>

<h4>How do I delete a property?</h4>
<p style="margin-bottom: 20px;">
	In order to delete a property, you must first be logged in and have created a property. If you're having trouble with this, refer to the above information on how to log in. 
	Once you're logged in, click on "Landlord Dashboard" on the black navigation bar at the top of the website. Now, use the horizontal scroll bar to scroll until over to the Edit button for the property you want to delete. 
	Click on this button. Now you will see text boxes with your property information filled in. Scroll down the page and you should see a Submit and Delete button. 
	Click on the Delete button. You will know you were successful if you are taken back to the home page. From here, click on "Landlord Dashboard" on the black navigation bar at the top of the website. 
	You should see that your property is now deleted. For additional help regarding deleting a property, please email us at admin@wisehousinghub.com.
</p>

<h4>How do I change my phone number?</h4>
<p style="margin-bottom: 20px;">
	In order to change your phone number, you must first be logged in. Once you're logged in, you should see "Hello &lt;your_email&gt;!" on the black navigation bar at the top of the website.
	Click on this. Now, you should see a profile section with your username and phone number. The username can't be changed, but you can change your phone number. 
	Click the phone number text box and update your phone number. Click the save button and you should see a message telling you that your profile has been updated. 
	Now your new phone number will be reflected in the profile section. If you can't change it, refer to the error messages for guidance and ensure you are using the correct phone number format.
</p>

<h4>How do I change my password?</h4>
<p style="margin-bottom: 20px;">
	In order to change your password, you must first be logged in. Once you're logged in, you should see "Hello &lt;your_email&gt;!" on the black navigation bar at the top of the website. Click on this.
	Now, you should see a Manage your account section. Click on Password on the left-hand menu. Now, you should see a change password section with text boxes for current and new password. 
	Enter your current password and then your new password. Note: Passwords have a minimum required length of 8 characters, must contain at least one uppercase letter, must contain at least one lowercase number, must contain at least one digit, and must contain at least one non alphanumeric character (symbol). 
	Once you enter all of the required information click the Update Password button. If you are successful, you will get a message saying your password has been changed. 
	If you can't change it, refer to the error message for guidance to ensure that your password meets the required complexity or that you entered the correct password.
</p>

<h4>What if I forgot my password?</h4>
<p style="margin-bottom: 20px;">
	If you forgot your password you can get it reset. Click on "Login" on the black navigation bar at the top of the website. Now, you should see a link for "Forgot your password?". 
	Click on the link. You should see a text box for your email. Enter the email your account was created with into the box and click the Reset Password button. 
	An email with information on how to reset your password will be sent to your specified email. If you do not receive an email within 24 hours or if you need additional help, please email us at admin@wisehousinghub.com.
</p>

<h4>How can I delete my account?</h4>
<p style="margin-bottom: 20px;">
	In order to delete your account, you must first be logged in. Once you're logged in, you should see "Hello &lt;your_email&gt;!" on the black navigation bar at the top of the website.
	Click on this. Now, you should see a Manage your account section. Click on Delete Account on the left-hand menu. Now, you should see a Delete Account section with some warning messages and a Delete button. 
	Note: Deleting your account is a permanent action and can't be reversed. Before deleting your account, make sure you have deleted all of your property listing if you haven't already. 
	Refer to the "How do I delete a property" section for help if needed. Once all of your properties are deleted, click on the Delete button. You will be prompted to confirm that you want to delete the account by entering your password. 
	Enter your current password in the password box and click the Delete My Account button. You will know you were successful if you are taken back to the home page.
	Verify that you no longer see "Hello &lt;your_email&gt;!" on the black navigation bar at the top of the website.
</p>